@charset "UTF-8";

/* common 영역 */
html, body {
  background: #1b1b1b;
  color: #e6e6e6;
}

/* 로그인 영역 */
main {
  min-height: calc(100vh - 200px);
  padding: 80px 20px 0;
}

h3.title {
  margin: 50px 0;
  font-size: 48px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box form {
  width: 100%;
  margin-bottom: 30px;
}

label.login-item {
  position: relative;
  display: block;
}

label.passwd {
  margin-top: 30px;
  margin-bottom: 50px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  height: 50px;
  padding: 2px 20px 0;
  border: 0;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  background: #333;
  line-height: 50px;
  box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
}

p.msg {
	font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    color: #737373;
}

p.errMsg {
	margin: -30px 0 50px;
    line-height: 20px;
    font-size: 15px;
}

.common-btn {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 24px 0 12px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background : #414aea;
  cursor: pointer;
}

/* 링크 넘어가기 */
.sign-up, .find-idpw {
  width: 100%;
  text-align: left;
  color: #737373;
  font-size: 14px;
  font-weight: 400;
}

.sign-up a, .find-idpw a {
  margin-left: 3px;
  font-size: 17px;
  cursor: pointer;
}

.find-idpw {
  margin-top: 10px;
}

/* input 값입력시 배경색 안바뀌게 설정 */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  /*-webkit-box-shadow: 0 0 0px 1000px white inset !important;*/
  -webkit-text-fill-color: #fff !important;
}