@charset "UTF-8";


/* common 영역 */
html, body {
    background: #1b1b1b;
    color: #e6e6e6;
}

main {
    min-height: calc(100vh - 200px);
    padding: 80px 20px 0;
}

/* 테마 영역 */
h5.info {
	position: relative;
	margin-bottom: 28px;
	font-size: 14px;
	font-weight: 400;
    color: #d9d9d9;
}

h5.info:after {
	content: '';
	width: 58px;
    height: 2px;
    position: absolute;
    left: -1px;
    bottom: -5px;
    background: #414aea;
}

h3.tName {
    margin-bottom: 15px;
	color: #414aea;
    font-size: 38px;
}

.title {
	margin-top: 30px
}

.title .companyName {
	padding: 5px 5px;
	background: #414aea;
	color: white;
}

.title .companyPocus {
	font-size: 14px;
    color: #414aea;
}

.theme-info {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.theme-info .left-box .theme-detail {
	width: 160px;
	font-size: 14px;
}

.theme-info .left-box .theme-detail tr {
	height: 35px;
}

.theme-info .left-box .theme-detail tr th {
	width: 45%;
    text-align: left;
    font-weight: 400;
    color: #aaa;
}

.theme-info .left-box .theme-detail tr td select.selectTNum {
	background: none;
    color: white;
    border: 0px;
    outline: 0;
    margin-left: -4px;
}

.theme-info .left-box .theme-detail tr td select option.option {
	color: black;
}

.theme-info .left-box .theme-detail tr td > span {
	display: inline-block;
    padding-top: 10px;
    font-size: 14px;
    color: white;
}

.theme-info .right-box img {
	height: 250px;
	border-radius: 25px;
}

.def-box {
	margin-bottom: 30px;
	line-height: 18px;
	font-size: 14px;
    color: #aaa;
}

.company-info {
	position: relative;
	padding-bottom: 90px;
}

.company-info:before {
	content: '';
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	height: 1px;
	background: #737373;
}

.company-info h5.info {
	margin-bottom: 20px;
}

.company-info .comName, .company-info .comPocus {
    display: inline-block;
    line-height: 30px;
    font-size: 18px;
}

.company-info .comName {
	background: #414aea;
    padding: 0 5px;

}

.company-info .comPocus {
	color: #414aea;
}

.company-info #map {
	margin-top: 10px;
}

.company-info table {
    margin-top: 8px;
	
}

.company-info table th, .company-info table td {
	padding-top: 5px;
	line-height: 20px;
	text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: #aaa;
}

.company-info table th {
	position: relative;
	width: 25%;
}

.company-info table td {
	width: 75%;
	word-break: keep-all;
}

.company-info table th:before {
	position: absolute;
    top: 8px;
    right: 16px;
    content: '';
    width: 1px;
    height: 14px;
    background: #aaa;
}

.s-btn.res {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 90px;
    border: 1px solid #414aea;
    outline: 0;
    background: none;
    font-size: 20px;
    font-weight: 700;
    color: #414aea;
    font-family: "twayFly";
    border-radius: 0;
    box-shadow: none;
}

@media (max-width: 370px) {
	.theme-info .right-box img {
		height: 200px;
	}
	
	.company-info table th:before {
		right: 13px;
	}
}

@media (max-width: 320px) {
	.theme-info .right-box img {
		height: 170px;
	}
	
	.company-info table th:before {
		right: 10px;
	}
}