@charset "UTF-8";

@media (min-width:1024px) {
  .theme-item {
    border-top: .104vw solid #888;
    padding: 2.083vw 0
  }

  .theme-item:last-child {
    border-bottom: .104vw solid #888
  }

  .theme-item>figure {
    box-shadow: -1.042vw 1.042vw 1.563vw red;
    float: left;
    overflow: hidden;
    width: 21.875vw
  }

  .theme-item>figure img {
    display: block;
    width: 21.875vw
  }

  .theme-item>div {
    line-height: 1.4;
    margin-left: 25.521vw
  }

  .theme-item>div h2 {
    color: #414aea;
    letter-spacing: -.05vw;
    line-height: 1;
    margin-bottom: 1.042vw
  }

  .theme-item>div h2 .at1 {
    background-color: #414aea;
    color: #fff;
    display: inline-block;
    font-size: .5em;
    margin-right: .26vw;
    padding: .313vw .521vw;
    vertical-align: top
  }

  .theme-item>div table {
    font-size: 1.146vw
  }

  .theme-item>div th {
    color: #aaa;
    font-weight: 100;
    padding-right: 1.563vw
  }

  .theme-item>div td, .theme-item>div th {
    text-align: left;
    vertical-align: top
  }

  .theme-item>div p {
    margin: 2.604vw 0 0
  }

  .theme-item-btn {
    width: 18.229vw
  }
}

@media (max-width:1023px) {
  .theme-item {
    margin-bottom: 18.667vw
  }

  .theme-item>figure {
    float: right;
    margin: 0 0 4vw 1.333vw;
    overflow: hidden;
    width: 40vw
  }

  .theme-item>figure img {
    display: block;
    width: 100%
  }

  .theme-item>div {
    line-height: 1.4
  }

  .theme-item>div h2 {
    color: #414aea;
    letter-spacing: -.05vw;
    line-height: 1;
    margin: 0 0 2.667vw
  }

  .theme-item>div h2 .at1 {
    background-color: #414aea;
    color: #fff;
    display: inline-block;
    font-size: .5em;
    margin-right: .533vw;
    padding: .8vw 1.333vw;
    vertical-align: top
  }

  .theme-item>div table {
    font-size: 3.2vw
  }

  .theme-item>div th {
    color: #aaa;
    font-weight: 100;
    padding-right: 8vw
  }

  .theme-item>div td {
    word-wrap: break-word;
    word-break: break-all
  }

  .theme-item>div td, .theme-item>div th {
    text-align: left;
    vertical-align: top
  }

  .theme-item>div p {
    margin-top: 8vw
  }

  .theme-item-btn {
    width: 100%
  }
}

html {
  text-size-adjust: 100%;
  word-wrap: break-word;
  background: #1b1b1b;
  color: #312a2a;
  word-break: keep-all
}

body, html {
  min-height: 100%;
  width: 100%
}

button, html, input, optgroup, select, textarea {
  font-weight: 100;
  line-height: 1.6
}

button, input, select, textarea {
  outline: none
}

button, fieldset, iframe, img, input, select, textarea {
  border: 0
}

a, button {
  background-color: transparent;
  cursor: pointer
}

a {
  -webkit-text-decoration-skip: objects;
  text-decoration: none
}

a, button, input, select, textarea {
  color: inherit
}

textarea {
  resize: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

small {
  font-size: 80%
}

button, input, option, select, textarea {
  font-size: 100%
}

article, aside, details, figcaption, figure, footer, form, header, hgroup, iframe, main, nav, section, summary {
  display: block
}

button, fieldset, input, legend, li, ol, option, td, textarea, th, ul {
  padding: 0
}

body, dd, dl, fieldset, figure, form, h1, h2, h3, h4, h5, h6, legend, li, ol, p, pre, textarea, ul {
  margin: 0
}

legend {
  clear: both;
  float: left
}

h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: 700
}

li, ul {
  list-style: none
}

input::-ms-clear {
  display: none
}

select::-ms-value {
  background: none;
  color: inherit
}

select::-ms-expand {
  display: none
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 30px #fff
}

button, input, select, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none
}

input, select, textarea {
  border-radius: 0
}

img {
  vertical-align: middle
}

button {
  overflow: visible
}

#root, body {
  overflow-x: hidden
}

address, em {
  font-style: normal
}

img {
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -o-user-select: none;
  user-select: none
}

a, button, input, label, select, textarea {
  box-sizing: border-box
}

h1 {
  font-size: 2em
}

h2 {
  font-size: 1.6em
}

h3 {
  font-size: 1.3em
}

h4 {
  font-size: 1.2em
}

h5, h6 {
  font-size: 1em
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  word-break: keep-all
}

.color-1 {
  color: #000
}

.color-2 {
  color: #fff
}

.color-3 {
  color: #3658ed
}

.bg-1 {
  background-color: #000
}

.bg-2 {
  background-color: #fff
}

.ws-n {
  white-space: nowrap
}

.td-u {
  text-decoration: underline
}

.ta-c {
  text-align: center
}

.one:hover {
  border-bottom: 2px solid #414aea;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;

}

.searchBarInput {
  width: 250px;
  height: 50px;
  font-weight: normal;
  font-size: 25px;
  color: #414aea;
  background-color: #1b1b1b;
  border-style: dashed;
  border-bottom: 1px solid #fff;
  padding: 15px;
}

.searchImg {
  filter:invert(); /* 색반전 */
  background-repeat: no-repeat;
  background-position: 200px;
  border-style: none;
  position: absolute;
  right: 65px;
}

.two:hover {
  border-bottom: 2px solid #414aea;
}

.ta-l {
  text-align: left
}

.ta-r {
  text-align: right
}

.p-f {
  position: fixed
}

.p-r {
  position: relative
}

.p-a {
  position: absolute
}

.f-l {
  float: left
}

.f-r {
  float: right
}

.d-n {
  display: none
}

.d-b {
  display: block
}

.d-ib, .d-ibm {
  display: inline-block
}

.d-ibm {
  vertical-align: middle
}

.d-f {
  display: flex
}

.fw-w {
  flex-wrap: wrap
}

.fg-1 {
  flex-grow: 1
}

.fg-2 {
  flex-grow: 2
}

.va-t {
  vertical-align: top
}

.va-m {
  vertical-align: middle
}

.o-h {
  overflow: hidden
}

.o-v {
  overflow: visible
}

.fw-1 {
  font-weight: 100
}

.fw-2 {
  font-weight: 200
}

.fw-3 {
  font-weight: 300
}

.fw-4 {
  font-weight: 400
}

.fw-5 {
  font-weight: 500
}

.fw-6 {
  font-weight: 600
}

.fw-7 {
  font-weight: 700
}

.fw-9 {
  font-weight: 900
}

.w-100p {
  width: 100%
}

.w-90p {
  width: 90%
}

.z-i1 {
  z-index: 1
}

.ff-bhs {
  font-weight: 400
}

.bs-bb {
  -ms-box-sizing: border-box;
  box-sizing: border-box
}

/* --------------------------------------------------- */
.areacontainer {
  position: absolute;
  top: 20%;
  left: 5%;
}

.holdbtn {
  position: relative;
  display: flex;
  float: left;
  padding-left: 13px;
  padding-top: 13px;
}

.holdbtn:hover {
  color: #414aea;
}

.btnbox {
  text-align: center;
  line-height: 30px;
  display: block;
  border: 2px solid #fff;
  width: 70px;
  height: 40px;
  border-radius: 42%;
  font-size: 15px;
  font-weight: bold;
}

.btnbox:hover {
  border: 1px solid #414aea;
}