@charset "UTF-8";

.trTimeBox {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 20px;
}

.trTime {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10vh;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid;
}

.trTime:hover {
	background: red;
}

.selBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

