@charset "UTF-8";

.trTimeBox {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 20px;
}

.trTime {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10vh;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid;
}

.trTime:hover {
	background: red;
}

.end {
	background: gray;
}

.end:hover {
	background: gray;
}

.selBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.err {
	text-align: center;
	display: none;
	color: red;
}

.logout-pop {
    left: 0;
    display: none;
}

.popUp-item > span {
	font-size: 16px;
	color: black;
}

.popUp-item {
    height: 270px;
}

.popUp-item > p {
	font-size: 24px;
    margin-bottom: 16px;
}