@charset "UTF-8";
table {
    width: 100%;
}

tr {
	height: 40px;
    width: 100%;
    line-height: 40px;
}

tr:first-child input{
	margin-bottom: 10px;
}

input, select {
	margin-left: 5%;
    box-sizing: border-box;
    width: 85%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    font-family: "twayFly";
}

#tPrice {
	display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.trTimeBox {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 20px;
}

.trTime {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10vh;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #737373;
    border-radius: 20px;
}

.trTime:hover {
	background: #414aea;
	border: 1px solid #414aea;
}

.end {
	background: gray;
}

.end:hover {
	background: gray;
	border: 1px solid gray;
}

.selBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #737373;
    padding: 20px 20px 5px;
    border-radius: 20px;
}

.err {
	text-align: center;
	display: none;
	color: red;
}

.logout-pop {
    left: 0;
    display: none;
}

.popUp-item > span {
	font-size: 16px;
	color: black;
}

.popUp-item {
    height: 270px;
   	margin-top: calc(100vw - 140px);
}

.popUp-item > p {
	font-size: 24px;
    margin-bottom: 16px;
}