@charset "UTF-8";


.swiper-container {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
  flex-direction: column
}

.swiper-wrapper {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
  z-index: 1
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
  transform: translateZ(0)
}

.swiper-container-multirow>.swiper-wrapper {
  flex-wrap: wrap
}

.swiper-container-multirow-column>.swiper-wrapper {
  flex-direction: column;
  flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
  margin: 0 auto;
  transition-timing-function: ease-out
}

.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%
}

.swiper-slide-invisible-blank {
  visibility: hidden
}

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height
}

.swiper-container-3d {
  perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-css-mode>.swiper-wrapper {
  -ms-overflow-style: none;
  overflow: auto;
  scrollbar-width: none
}

.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar {
  display: none
}

.swiper-container-css-mode>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: start start
}

.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper {
  scroll-snap-type: x mandatory
}

.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper {
  scroll-snap-type: y mandatory
}

:root {
  --swiper-navigation-size: 44px
}

.swiper-button-next, .swiper-button-prev {
  align-items: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  cursor: pointer;
  display: flex;
  height: var(--swiper-navigation-size);
  justify-content: center;
  margin-top: calc(var(--swiper-navigation-size)*-1/2);
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/44*27);
  z-index: 10
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  cursor: auto;
  opacity: .35;
  pointer-events: none
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: var(--swiper-navigation-size);
  font-variant: normal;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none !important;
  text-transform: none
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: "prev"
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  left: auto;
  right: 10px
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: "next"
}

.swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white {
  --swiper-navigation-color: #fff
}

.swiper-button-next.swiper-button-black, .swiper-button-prev.swiper-button-black {
  --swiper-navigation-color: #000
}

.swiper-button-lock {
  display: none
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transform: translateZ(0);
  transition: opacity .3s;
  z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%
}

.swiper-pagination-bullets-dynamic {
  font-size: 0;
  overflow: hidden
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  position: relative;
  transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active, .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(.33)
}

.swiper-pagination-bullet {
  background: #000;
  border-radius: 100%;
  display: inline-block;
  height: 8px;
  opacity: .2;
  width: 8px
}

button.swiper-pagination-bullet {
  appearance: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  opacity: 1
}

.swiper-container-vertical>.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  display: block;
  margin: 6px 0
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: transform .2s, top .2s
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: transform .2s, left .2s
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: transform .2s, right .2s
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, .25);
  position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0);
  transform-origin: left top;
  width: 100%
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progressbar, .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  height: 4px;
  left: 0;
  top: 0;
  width: 100%
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-container-vertical>.swiper-pagination-progressbar {
  height: 100%;
  left: 0;
  top: 0;
  width: 4px
}

.swiper-pagination-white {
  --swiper-pagination-color: #fff
}

.swiper-pagination-black {
  --swiper-pagination-color: #000
}

.swiper-pagination-lock {
  display: none
}

.swiper-scrollbar {
  background: rgba(0, 0, 0, .1);
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none
}

.swiper-container-horizontal>.swiper-scrollbar {
  bottom: 3px;
  height: 5px;
  left: 1%;
  position: absolute;
  width: 98%;
  z-index: 50
}

.swiper-container-vertical>.swiper-scrollbar {
  height: 98%;
  position: absolute;
  right: 3px;
  top: 1%;
  width: 5px;
  z-index: 50
}

.swiper-scrollbar-drag {
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: 100%
}

.swiper-scrollbar-cursor-drag {
  cursor: move
}

.swiper-scrollbar-lock {
  display: none
}

.swiper-zoom-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%
}

.swiper-zoom-container>canvas, .swiper-zoom-container>img, .swiper-zoom-container>svg {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain
}

.swiper-slide-zoomed {
  cursor: move
}

.swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s linear infinite;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top: 4px solid transparent;
  box-sizing: border-box;
  height: 42px;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
  position: absolute;
  top: 50%;
  transform-origin: 50%;
  width: 42px;
  z-index: 10
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000
}

@keyframes swiper-preloader-spin {
  to {
    transform: rotate(1turn)
  }
}

.swiper-container .swiper-notification {
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-container-cube {
  overflow: visible
}

.swiper-container-cube .swiper-slide {
  backface-visibility: hidden;
  height: 100%;
  pointer-events: none;
  transform-origin: 0 0;
  visibility: hidden;
  width: 100%;
  z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next+.swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top {
  backface-visibility: hidden;
  z-index: 0
}

.swiper-container-cube .swiper-cube-shadow {
  background: #000;
  bottom: 0;
  filter: blur(50px);
  height: 100%;
  left: 0;
  opacity: .6;
  position: absolute;
  width: 100%;
  z-index: 0
}

.swiper-container-flip {
  overflow: visible
}

.swiper-container-flip .swiper-slide {
  backface-visibility: hidden;
  pointer-events: none;
  z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
  backface-visibility: hidden;
  z-index: 0
}

::placeholder {
  color: #aaa;
  opacity: 1
}

:-ms-input-placeholder {
  color: #aaa
}

::-ms-input-placeholder {
  color: #aaa
}

::selection {
  background-color: #5808fb;
  color: #fff
}

html {
  text-size-adjust: 100%;
  word-wrap: break-word;
  background-color: #1b1b1b;
  color: #312a2a;
  word-break: keep-all
}

body, html {
  min-height: 100%;
  width: 100%
}

button, html, input, optgroup, select, textarea {
  font-weight: 100;
  line-height: 1.6
}

button, input, select, textarea {
  outline: none
}

button, fieldset, iframe, img, input, select, textarea {
  border: 0
}

a, button {
  background-color: transparent;
  cursor: pointer
}

a {
  -webkit-text-decoration-skip: objects;
  text-decoration: none
}

a, button, input, select, textarea {
  color: inherit
}

textarea {
  resize: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

small {
  font-size: 80%
}

button, input, option, select, textarea {
  font-size: 100%
}

article, aside, details, figcaption, figure, footer, form, header, hgroup, iframe, main, nav, section, summary {
  display: block
}

button, fieldset, input, legend, li, ol, option, td, textarea, th, ul {
  padding: 0
}

body, dd, dl, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input[type=checkbox], input[type=radio], legend, li, ol, p, pre, textarea, ul {
  margin: 0
}

legend {
  clear: both;
  float: left
}

h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: 700
}

li, ul {
  list-style: none
}

input::-ms-clear {
  display: none
}

select::-ms-value {
  background: none;
  color: inherit
}

select::-ms-expand {
  display: none
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 30px #fff
}

button, input, select, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none
}

input, select, textarea {
  border-radius: 0
}

img {
  vertical-align: middle
}

button {
  overflow: visible
}

#root, body {
  overflow-x: hidden
}

address, em {
  font-style: normal
}

img {
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -o-user-select: none;
  user-select: none
}

a, button, input, label, select, textarea {
  box-sizing: border-box
}

h1 {
  font-size: 2em
}

h2 {
  font-size: 1.6em
}

h3 {
  font-size: 1.3em
}

h4 {
  font-size: 1.2em
}

h5, h6 {
  font-size: 1em
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  word-break: keep-all
}

.color-1 {
  color: #000
}

.color-2 {
  color: #fff
}

.color-3 {
  color: #3658ed
}

.bg-1 {
  background-color: #000
}

.bg-2 {
  background-color: #fff
}

.ws-n {
  white-space: nowrap
}

.td-u {
  text-decoration: underline
}

.ta-c {
  text-align: center
}

.ta-l {
  text-align: left
}

.ta-r {
  text-align: right
}

.p-f {
  position: fixed
}

.p-r {
  position: relative
}

.p-a {
  position: absolute
}

.f-l {
  float: left
}

.f-r {
  float: right
}

.d-n {
  display: none
}

.d-b {
  display: block
}

.d-ib, .d-ibm {
  display: inline-block
}

.d-ibm {
  vertical-align: middle
}

.d-f {
  display: flex
}

.fw-w {
  flex-wrap: wrap
}

.fg-1 {
  flex-grow: 1
}

.fg-2 {
  flex-grow: 2
}

.va-t {
  vertical-align: top
}

.va-m {
  vertical-align: middle
}

.o-h {
  overflow: hidden
}

.o-v {
  overflow: visible
}

.fw-1 {
  font-weight: 100
}

.fw-2 {
  font-weight: 200
}

.fw-3 {
  font-weight: 300
}

.fw-4 {
  font-weight: 400
}

.fw-5 {
  font-weight: 500
}

.fw-6 {
  font-weight: 600
}

.fw-7 {
  font-weight: 700
}

.fw-9 {
  font-weight: 900
}

.w-100p {
  width: 100%
}

.w-90p {
  width: 90%
}

.z-i1 {
  z-index: 1
}

.ff-bhs {
  font-weight: 400
}

.ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.maximgs img {
  max-width: 100%
}

.mauto {
  display: block;
  margin: 0 auto
}

.bs-bb {
  -ms-box-sizing: border-box;
  box-sizing: border-box
}

.kit-wrap {
  overflow: hidden
}

.kit {
  display: block;
  margin: 0;
  padding: 0;
  width: auto
}

.kit:after {
  clear: both;
  content: "";
  display: block;
  width: 100%
}

.kit>li {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  list-style-type: none
}

.dbox {
  background-color: #ededed;
  display: block;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.26%;
  position: relative;
  width: 100%
}

.dbox.active1 {
  padding-bottom: 100%
}

.dboximg {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%
}

.dbox>iframe, .dboxitem {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.dbox>iframe {
  height: 100% !important;
  width: 100% !important
}

@media (min-width:1024px) {
  ::-webkit-scrollbar {
    width: 1.042vw
  }

  ::-webkit-scrollbar-thumb {
    border-radius: .26vw
  }

  body {
    font-size: 1.25vw
  }

  .container {
    margin: 0 auto;
    max-width: 65.104vw
  }

  .container.active1 {
    max-width: 70.313vw
  }

  .container.active2 {
    max-width: 52.083vw
  }

  .container.active3 {
    max-width: 59.896vw
  }

  .lg-d-n, .lg-none {
    display: none
  }

  .lg-ws-n {
    white-space: nowrap
  }
}

@media (max-width:1023px) {
  body {
    font-size: 3.733vw
  }

  .container {
    margin: 0 auto;
    max-width: 89.333vw
  }

  .sm-w100p {
    width: 100%
  }

  .sm-d-n, .sm-none {
    display: none
  }

  .sm-ws-n {
    white-space: nowrap
  }
}

@media (min-width:1024px) {
  .el-text {
    padding-bottom: .781vw;
    padding-top: .781vw
  }

  .el-input {
    background-color: #fff;
    color: #000;
    font-size: 1.042vw;
    height: 2.865vw;
    line-height: 2.865vw;
    padding: 0 1.042vw
  }

  .el-input, .el-select {
    box-sizing: border-box;
    display: block;
    min-width: 18.229vw;
    width: 100%
  }

  .el-select select {
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-size: 1.042vw;
    height: 2.865vw;
    padding: 0 1.042vw;
    width: 100%
  }

  .el-rc {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin-right: .716vw;
    padding-left: 1.432vw;
    position: relative;
    text-align: left;
    vertical-align: middle
  }

  .el-rc:before {
    background-color: #fff;
    border-radius: .104vw;
    content: "";
    height: .955vw;
    left: 0;
    position: absolute;
    top: .443vw;
    width: .955vw
  }

  .el-rc input {
    left: 0;
    position: absolute;
    width: 0
  }

  .el-rc i {
    border: .26vw solid #000;
    border-left: 0;
    border-top: 0;
    display: none;
    height: .716vw;
    left: .205vw;
    position: absolute;
    top: .313vw;
    transform: rotate(45deg);
    width: .358vw
  }

  .el-rc input:checked+i {
    display: block
  }

  .el-rc.disabled {
    opacity: .2
  }
}

@media (max-width:1023px) {
  .el-text {
    padding-bottom: 2.4vw;
    padding-top: 2.4vw
  }

  .el-input {
    background-color: #fff;
    color: #000;
    font-size: 3.2vw;
    height: 10.667vw;
    line-height: 10.667vw;
    padding: 0 4vw
  }

  .el-input, .el-select {
    box-sizing: border-box;
    display: block;
    width: 100%
  }

  .el-select select {
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-size: 3.2vw;
    height: 10.667vw;
    padding: 0 4vw;
    width: 100%
  }

  .el-rc {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin-right: 2.667vw;
    padding-left: 5.333vw;
    position: relative;
    text-align: left;
    vertical-align: middle
  }

  .el-rc:before {
    background-color: #fff;
    border: .267vw solid #000;
    content: "";
    height: 3.556vw;
    left: 0;
    position: absolute;
    top: .8vw;
    width: 3.556vw
  }

  .el-rc input {
    left: 0;
    position: absolute;
    width: 0
  }

  .el-rc i {
    border: .8vw solid #000;
    border-left: 0;
    border-top: 0;
    display: none;
    height: 2.667vw;
    left: .889vw;
    position: absolute;
    top: .533vw;
    transform: rotate(45deg);
    width: 1.778vw
  }

  .el-rc input:checked+i {
    display: block
  }

  .el-rc.disabled {
    opacity: .2
  }
}

@keyframes gradients {
  50% {
    -webkit-background-position: 100% 0;
    -moz-background-position: 100% 0;
    -ms-background-position: 100% 0;
    -o-background-position: 100% 0;
    background-position: 100% 0
  }
}

@keyframes navbg {
  50% {
    background-position: 0 -10%
  }
}

.datepicker {
  border-color: #000 !important
}

.datepicker .datepicker--nav {
  border-color: #000
}

.datepicker .datepicker--day-name {
  color: #000;
  font-size: 110%;
  font-weight: 700
}

.datepicker .datepicker--cell {
  border-radius: 0
}

.datepicker .datepicker--cell.-current- {
  color: #3658ed;
  font-weight: 700
}

.datepicker .datepicker--cell.-selected- {
  background-color: #3658ed
}

.datepicker .datepicker--pointer {
  border-right-color: #000;
  border-top-color: #000
}

.datepicker .datepicker--cell.-selected-, .datepicker .datepicker--cell.-selected-.-current- {
  background-color: #3658ed;
  border-radius: 30%;
  color: #fff
}

.datepicker .datepicker--buttons {
  border-color: #000
}

.datepicker .datepicker--buttons .datepicker--button {
  color: #3658ed
}


@media (min-width:1024px) {
  .header .container {
    position: relative
  }

  .header-logo {
    display: inline-block;
    left: 0;
    position: absolute;
    top: 1.354vw;
    vertical-align: middle
  }

  .header-logo img {
    display: block;
    height: 4.531vw
  }

  .header-btn {
    display: none
  }

  .nav {
    padding: 2.604vw 0;
    text-align: center
  }

  .nav-list {
    float: right
  }

  .nav-list li {
    float: left;
    margin-left: 3.646vw
  }

  .nav-list a {
    display: block;
    font-size: 1.458vw;
    height: 2.604vw;
    line-height: 2.604vw;
    padding-left: 1.563vw;
    position: relative
  }

  .nav-list a:before {
    background: linear-gradient(to top left, #9929ea, #5808fb);
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    content: "";
    height: 1.042vw;
    left: 1.563vw;
    opacity: 0;
    position: absolute;
    top: .651vw;
    transform: scale3d(.2, .2, 1);
    transition: .2s ease;
    width: 1.042vw
  }

  .nav-list a:hover:before {
    opacity: 1;
    transform: translate3d(-1.6vw, 0, 0) scaleX(1)
  }

  .footer {
    background-color: #252421;
    color: #fff;
    padding-top: 6.771vw
  }

  .footer-group {
    justify-content: space-between
  }

  .footer-info dt {
    font-size: 2.813vw
  }

  .footer-info a:hover {
    color: red;
    text-decoration: underline
  }

  .footer-social {
    margin-top: 1.042vw
  }

  .footer-social a {
    display: inline-block;
    margin-right: .365vw;
    transition: .2s ease;
    vertical-align: middle
  }

  .footer-social a:hover {
    transform: rotate(30deg)
  }

  .footer-message {
    font-weight: 400;
    margin-top: 4.167vw
  }

  .footer-links {
    margin-top: 1.302vw
  }

  .footer-links a {
    display: inline-block;
    margin-right: 2.083vw;
    padding-left: 1.823vw;
    position: relative;
    vertical-align: middle
  }

  .footer-links a:before {
    background-color: #fff;
    border-radius: 100%;
    content: "";
    height: .885vw;
    left: 0;
    position: absolute;
    top: .521vw;
    transition: .2s ease;
    width: .885vw
  }

  .footer-links a:hover:before {
    background-color: #9929ea;
    transform: translate3d(0, -15px, 0)
  }

  .footer-copyright {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: gradients;
    background-image: linear-gradient(to top left, #9929ea, #5808fb);
    background-position: 0 0;
    background-size: 300%;
    color: #fff;
    font-weight: 400;
    margin-top: 6.771vw;
    padding: 2.344vw 0;
    text-align: center
  }

  .subtitle {
    background-color: #000;
    background: url(/images/header.jpg) no-repeat center top -10vw;
    background-size: auto 160%;
    color: #fff;
    padding: 10.417vw 0
  }

  .subtitle h1, .subtitle h2 {
    font-weight: 400;
    text-shadow: .052vw .052vw .208vw #000
  }

  .comnotice {
    background-color: #f4f4f4;
    padding: 8.854vw 0 10.417vw
  }

  .comnotice-wrap {
    justify-content: center;
    margin: -2.083vw 0 0-2.083vw
  }

  .comnotice-wrap li {
    box-sizing: border-box;
    padding: 2.083vw 0 0 2.083vw;
    width: 25%
  }

  .comnotice-item {
    box-sizing: border-box;
    display: block;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%
  }

  .comnotice-item figure {
    height: 7.813vw;
    position: relative
  }

  .comnotice-item img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0)
  }

  .comnotice-item img.ac1 {
    height: 7.813vw
  }

  .comnotice-item img.ac2 {
    height: 6.875vw
  }

  .comnotice-item img.ac3 {
    height: 5vw
  }

  .comnotice-item img.ac4 {
    height: 6.406vw
  }

  .comnotice-item h3 {
    font-size: 1.51vw;
    font-weight: 400;
    margin: 1.042vw 0
  }

  .btn1 {
    overflow: hidden;
    position: relative
  }

  .btn1 a {
    border: .052vw solid #4647e5;
    color: #4647e5;
    display: block;
    font-size: 1.458vw;
    height: 4.167vw;
    line-height: 4.167vw;
    text-align: center;
    transition: .2s ease .15s;
    width: 100%
  }

  .btn1 a, .btn1 a span {
    font-weight: 400;
    position: relative
  }

  .btn1 a span {
    z-index: 1
  }

  .btn1 a em {
    background-color: #4647e5;
    height: 150%;
    left: 0;
    position: absolute;
    top: 120%;
    transform: rotate(-5deg);
    transition: .5s cubic-bezier(.165, .84, .44, 1) .15s;
    width: 110%
  }

  .btn1 a:hover {
    color: #fff
  }

  .btn1 a:hover em {
    transform: translate3d(0, -80%, 0)
  }

  .btn1 a:after, .btn1 a:before {
    background-color: #fff;
    border: .052vw solid #4647e5;
    border-radius: 100%;
    content: "";
    height: 2.604vw;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 2.604vw;
    z-index: 2
  }

  .btn1 a:before {
    left: -1.302vw
  }

  .btn1 a:after {
    right: -1.302vw
  }

  .search .arrow-before {
    position: relative
  }

  .search .arrow-before:before {
    background-color: #1b1b1b;
    color: #fff;
    content: "▼";
    font-size: .729vw;
    height: 100%;
    line-height: 2.865vw;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.865vw;
    z-index: 1
  }

  .search-date, .search-select {
    cursor: pointer;
    margin-right: 1.042vw
  }

  .search-date span, .search-select span {
    float: left;
    font-weight: 400;
    height: 2.865vw;
    line-height: 2.865vw;
    padding-left: 1.563vw;
    position: relative
  }

  .search-date span:before, .search-select span:before {
    border: .313vw solid #4545e6;
    border-radius: 100%;
    content: "";
    height: .313vw;
    left: 0;
    position: absolute;
    top: .833vw;
    width: .313vw
  }

  .search-date {
    float: left;
    width: 17.188vw
  }

  .search-date span {
    width: 45%
  }

  .search-date label {
    cursor: pointer;
    float: left;
    padding-right: 2.865vw;
    width: 55%
  }

  .search-date input, .search-date label {
    background-color: #1b1b1b;
    display: block
  }

  .search-date input {
    font-size: .729vw;
    height: 2.865vw;
    line-height: 2.865vw;
    padding-left: .781vw;
    width: 100%
  }

  .search-select {
    float: left;
    width: 17.188vw
  }

  .search-select.size1 {
    width: 26.042vw
  }

  .search-select span {
    width: 28%
  }

  .search-select label {
    background-color: #ededed;
    cursor: pointer;
    float: left;
    width: 72%
  }

  .search-select select {
    background-color: #1b1b1b;
    display: block;
    font-size: .729vw;
    height: 2.865vw;
    line-height: 2.865vw;
    padding: 0 .781vw;
    width: 100%
  }

  .search-btn {
    float: right
  }

  .search-btn a, .search-btn button {
    border: .104vw solid #000;
    border-radius: 1.563vw;
    display: block;
    font-size: 80%;
    font-weight: 400;
    height: 2.865vw;
    line-height: 2.865vw;
    padding: 0 1.823vw;
    transition: .2s ease
  }

  .search-btn a:hover, .search-btn button:hover {
    background-color: #000;
    color: #fff
  }
}

@media (max-width:1023px) {
  #footer, #nav, #wrap {
    transition: transform .6s cubic-bezier(.165, .84, .44, 1)
  }

  #header {
    transition: .4s ease;
    transition-property: transform, background-color
  }

  .layout-toggle {
    transform: translateX(-100%)
  }

  .header.layout-toggle {
    background-color: #fff
  }

  .header {
    height: 17.333vw;
    left: 0;
    line-height: 17.333vw;
    position: relative;
    right: 0;
    top: 0;
    z-index: 5
  }

  .header-logo {
    float: left
  }

  .header-logo img {
    display: inline-block;
    height: 10.667vw;
    vertical-align: middle
  }

  .header-btn {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    height: 17.333vw;
    line-height: 1;
    outline: none;
    position: fixed;
    right: 5.333vw;
    top: 0;
    transition-duration: .5s;
    width: 8.8vw;
    z-index: 10
  }

  .header-btn em {
    height: 1.067vw;
    margin: -1.067vw 0 0;
    top: 50%
  }

  .header-btn em, .header-btn em:after, .header-btn em:before {
    background-color: #312a2a;
    left: 0;
    position: absolute;
    transition-duration: .25s;
    width: 100%
  }

  .header-btn em:after, .header-btn em:before {
    content: "";
    height: inherit
  }

  .header-btn em:before {
    top: -2.133vw;
    width: 80%
  }

  .header-btn em:after {
    top: 2.133vw;
    width: 80%
  }

  .header-btn.active {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition-duration: 1s
  }

  .header-btn.active em {
    background-color: transparent;
    transition-duration: .5s
  }

  .header-btn.active em:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg)
  }

  .header-btn.active em:after, .header-btn.active em:before {
    background-color: #fff;
    top: .533vw;
    transition-duration: .5s;
    width: 100%
  }

  .header-btn.active em:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg)
  }

  .nav {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: navbg;
    background: url(/images/nav_bg1.jpg) no-repeat 50%;
    background-size: auto 100%;
    bottom: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    color: #fff;
    padding: 6.667vw 0;
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    z-index: 5
  }

  .nav-list a {
    display: block;
    font-size: 7.2vw;
    height: 13.333vw;
    line-height: 13.333vw;
    margin: 8vw 0;
    padding: 0 13.333vw
  }

  .wrap {
    overflow-x: hidden
  }

  .footer {
    background-color: #252421;
    color: #fff;
    padding-top: 21.333vw
  }

  .footer-group {
    justify-content: space-between
  }

  .footer-info dt {
    font-size: 10.4vw
  }

  .footer-info a:hover {
    color: red;
    text-decoration: underline
  }

  .footer-social {
    margin-top: 5.333vw
  }

  .footer-social a {
    display: inline-block;
    margin-right: 1.867vw;
    transform: scale3d(.85, .85, 1);
    vertical-align: middle
  }

  .footer-message {
    font-weight: 400;
    margin-top: 8vw
  }

  .footer-links {
    margin-top: 5.333vw
  }

  .footer-links a {
    display: inline-block;
    margin-right: 5.333vw;
    padding-left: 6.133vw;
    position: relative;
    vertical-align: middle
  }

  .footer-links a:before {
    background-color: #fff;
    border-radius: 100%;
    content: "";
    height: 2.133vw;
    left: 0;
    position: absolute;
    top: 2vw;
    transition: .2s ease;
    width: 2.133vw
  }

  .footer-copyright {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: gradients;
    background-image: linear-gradient(to top left, #9929ea, #5808fb);
    background-position: 0 0;
    background-size: 300%;
    color: #fff;
    font-size: 120%;
    font-weight: 400;
    margin-top: 21.333vw;
    padding: 8vw 0;
    text-align: center
  }

  .subtitle {
    background-color: #000;
    background: url(/images/header.jpg) no-repeat center top -20vw;
    background-size: auto 130%;
    color: #fff;
    padding: 3vw;
  }

  .subtitle h1, .subtitle h2 {
    font-size: 9.067vw;
    font-weight: 400;
    text-shadow: .267vw .267vw 1.067vw #000
  }

  .comnotice {
    background-color: #f4f4f4;
    padding: 18.667vw 0
  }

  .comnotice-wrap {
    margin: -1.6vw 0 0-1.6vw
  }

  .comnotice-wrap li {
    box-sizing: border-box;
    flex-basis: 50%;
    flex-grow: 1;
    padding: 1.6vw 0 0 1.6vw
  }

  .comnotice-item {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 4vw;
    position: relative;
    width: 100%;
    word-break: break-all
  }

  .comnotice-item figure {
    float: left;
    height: 16vw;
    margin: 0 4vw 2.667vw 0;
    position: relative;
    width: 12vw
  }

  .comnotice-item img {
    display: block;
    width: 100%
  }

  .comnotice-item h3 {
    font-weight: 400;
    margin-bottom: 1.867vw;
    min-height: 17.333vw
  }

  .btn1 {
    overflow: hidden;
    position: relative
  }

  .btn1 a {
    border: .267vw solid #4647e5;
    color: #4647e5;
    display: block;
    font-size: 4.8vw;
    height: 14.667vw;
    line-height: 14.667vw;
    text-align: center;
    transition: .2s ease;
    width: 100%
  }

  .btn1 a, .btn1 a span {
    font-weight: 400;
    position: relative
  }

  .btn1 a span {
    z-index: 1
  }

  .btn1 a em {
    display: none
  }

  .btn1 a:after, .btn1 a:before {
    background-color: #fff;
    border: .267vw solid #4647e5;
    border-radius: 100%;
    content: "";
    height: 5.867vw;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 5.867vw;
    z-index: 2
  }

  .btn1 a:before {
    left: -2.933vw
  }

  .btn1 a:after {
    right: -2.933vw
  }

  .search .arrow-before {
    position: relative
  }

  .search .arrow-before:before {
    background-color: #1b1b1b;
    color: white;
    content: "▼";
    font-size: 2.133vw;
    height: 100%;
    line-height: 10.667vw;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 10.667vw;
    z-index: 1
  }

  .search-date, .search-select {
    margin-bottom: .8vw
  }

  .search-date:last-child, .search-select:last-child {
    margin-bottom: 0
  }

  .search-date span, .search-select span {
    float: left;
    font-weight: 400;
    height: 10.667vw;
    line-height: 10.667vw;
    padding-left: 5.333vw;
    position: relative
  }

  .search-date span:before, .search-select span:before {
    border: 1.067vw solid #4545e6;
    border-radius: 100%;
    content: "";
    height: 1.067vw;
    left: 0;
    position: absolute;
    top: 3.467vw;
    width: 1.067vw
  }

  .search-date {
    clear: both;
    width: 100%
  }

  .search-date span {
    width: 30%
  }

  .search-date label {
    float: left;
    padding-right: 10.667vw;
    width: 70%
  }

  .search-date input, .search-date label {
    content: "";
    background-color: #1b1b1b;
    display: block
  }

  .search-date input {
    font-size: 80%;
    height: 10.667vw;
    line-height: 10.667vw;
    padding-left: 4vw;
    width: 100%
  }

  .search-select {
    width: 100%
  }

  .search-select span {
    width: 30%
  }

  .search-select label {
    background-color: #dcdbfb;
    float: left;
    width: 70%
  }

  .search-select select {
    background-color: #1b1b1b;
    display: block;
    font-size: 80%;
    height: 10.667vw;
    line-height: 10.667vw;
    padding: 0 4vw;
    width: 100%
  }


  .search-btn a, .search-btn button {
    border: .533vw solid #888;
    border-radius: 8vw;
    display: block;
    font-weight: 400;
    height: 12vw;
    line-height: 12vw;
    margin: 0 auto;
    padding: 0 8vw;
    width: 70%
  }
}

@media (min-width:1024px) {
  .res-tabs {
    border: .052vw solid #000;
    display: block;
    margin: 0 auto 4.167vw;
    text-align: center;
    width: 46.875vw
  }

  .res-tabs li {
    box-sizing: border-box;
    font-size: 1.458vw;
    height: 3.854vw;
    line-height: 3.854vw;
    position: relative;
    width: 33.3333%
  }

  .res-tabs li:after, .res-tabs li:before {
    border-style: solid;
    border-width: 1.927vw 0 1.927vw 1.927vw;
    content: "";
    position: absolute;
    top: 0;
    z-index: 1
  }

  .res-tabs li:before {
    border-color: transparent #000;
    right: -1.927vw
  }

  .res-tabs li:after {
    border-color: transparent #fff;
    right: -1.875vw
  }

  .res-tabs li:not(:first-child):not(:last-child) {
    padding-left: 1.927vw
  }

  .res-tabs li:last-child:after, .res-tabs li:last-child:before {
    display: none
  }

  .res-tabs li.active {
    background-color: #000;
    color: #fff
  }

  .res-tabs li.active:after {
    border-color: transparent #000
  }

  .res-subtitle {
    border: .052vw solid #000;
    border-radius: 2.604vw;
    display: block;
    font-size: 1.563vw;
    font-weight: 400;
    margin: 0 auto 1.563vw;
    padding: .885vw 0;
    width: 15.625vw
  }

  .res-item {
    border-top: .104vw solid #888;
    padding: 2.083vw 0
  }

  .res-item:last-child {
    border-bottom: .104vw solid #888
  }

  .res-item>figure {
    float: left;
    height: 27.604vw;
    overflow: hidden;
    width: 19.792vw
  }

  .res-item>figure img {
    display: block;
    width: 100%
  }

  .res-item>div {
    margin-left: 22.917vw
  }

  .res-item>div h2 {
    color: #414aea;
    font-weight: 400;
    margin: .26vw 0 1.302vw
  }

  .res-item>div table, .res-item>div th {
    font-weight: 400
  }

  .res-item>div th {
    padding-right: 1.563vw
  }

  .res-item>div td, .res-item>div th {
    line-height: 1.4;
    text-align: left;
    vertical-align: top
  }

  .res-times {
    margin: -.781vw 0 0 -.781vw
  }

  .res-times li {
    padding: .781vw 0 0 .781vw;
    width: 33.3333%
  }

  .res-times-btn {
    cursor: pointer;
    overflow: hidden;
    position: relative
  }

  .res-times-btn button {
    border: .052vw solid #4647e5;
    color: #4647e5;
    display: block;
    font-weight: 400;
    height: 4.167vw;
    line-height: 1;
    position: relative;
    text-align: center;
    transition: .2s ease;
    width: 100%
  }

  .res-times-btn button {
    background-color: #4647e5;
    color: #fff
  }

  .res-times-btn button.active1:hover {
    color: #fff
  }

  .res-times-btn button.active1:hover em {
    transform: translate3d(0, -80%, 0)
  }

  .res-times-btn button label {
    display: block;
    font-size: 60%;
    margin-bottom: .208vw;
    position: relative;
    z-index: 1
  }

  .res-times-btn button span {
    font-weight: 400;
    position: relative;
    z-index: 1
  }

  .res-times-btn button em {
    background-color: #1919b3;
    height: 150%;
    left: 0;
    position: absolute;
    top: 120%;
    transform: rotate(-5deg);
    transition: .3s cubic-bezier(.445, .05, .55, .95);
    width: 110%
  }

  .res-table {
    border-bottom: .104vw solid #000;
    border-top: .104vw solid #000;
    table-layout: fixed;
    width: 100%
  }

  .res-table tr {
    border-bottom: .052vw solid #000
  }

  .res-table td, .res-table th {
    padding: 1.042vw;
    text-align: left
  }

  .res-table td.ac1, .res-table th.ac1 {
    padding-bottom: .26vw;
    padding-left: .208vw;
    padding-top: .26vw
  }

  .res-table th {
    font-weight: 400;
    padding-left: 3.125vw;
    width: 7.813vw
  }

  .res-table-input {
    border: .052vw solid #000;
    display: block;
    height: 3.125vw;
    line-height: 3.125vw;
    padding: 0 .781vw;
    width: 15.625vw
  }

  .res-table-select {
    border: .052vw solid #000;
    display: inline-block;
    position: relative;
    vertical-align: middle
  }

  .res-table-select select {
    display: block;
    height: 3.125vw;
    line-height: 3.125vw;
    padding: 0 .781vw;
    width: 6.25vw
  }

  .res-table-select:before {
    background-color: #fff;
    content: "▼";
    height: 3.125vw;
    line-height: 3.125vw;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 3.125vw
  }

  .res-table-policy {
    border: .052vw solid #a3a3a3;
    font-size: .833vw;
    height: 10.417vw;
    overflow: scroll;
    padding: 1.042vw
  }

  .res-table-policy::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 0
  }

  .res-table-checkbox {
    cursor: pointer;
    display: inline-block;
    font-size: 90%;
    margin-top: .781vw;
    padding-left: 2.083vw;
    position: relative;
    vertical-align: middle
  }

  .res-table-checkbox:before {
    border: .052vw solid #000;
    content: "";
    height: 1.302vw;
    left: 0;
    position: absolute;
    top: .156vw;
    width: 1.302vw
  }

  .res-table-checkbox em {
    border: .26vw solid #000;
    border-right: 0;
    border-top: 0;
    display: none;
    height: .521vw;
    left: .052vw;
    position: absolute;
    top: .208vw;
    transform: rotate(-45deg);
    width: 1.042vw
  }

  .res-table-checkbox input {
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0
  }

  .res-table-checkbox input:checked+em {
    display: block
  }

  .res-table-btns {
    text-align: center
  }

  .res-table-btns a, .res-table-btns button {
    border: .104vw solid #000;
    display: inline-block;
    font-weight: 400;
    height: 3.385vw;
    line-height: 3.385vw;
    min-width: 10.417vw;
    padding: 0 1.563vw;
    vertical-align: middle
  }

  .res-table-btns .ac1 {
    background-color: #000;
    color: #fff
  }
}

@media (max-width:1023px) {
  .res-tabs {
    border: .267vw solid #000;
    display: block;
    margin: 0 -5.6vw 5.333vw;
    text-align: center
  }

  .res-tabs li {
    box-sizing: border-box;
    height: 13.333vw;
    line-height: 13.333vw;
    position: relative;
    width: 33.3333%
  }

  .res-tabs li:after, .res-tabs li:before {
    border-style: solid;
    border-width: 6.667vw 0 6.667vw 6.667vw;
    content: "";
    position: absolute;
    top: 0;
    z-index: 1
  }

  .res-tabs li:before {
    border-color: transparent #000;
    right: -6.667vw
  }

  .res-tabs li:after {
    border-color: transparent #fff;
    right: -6.4vw
  }

  .res-tabs li:not(:first-child):not(:last-child) {
    padding-left: 6.667vw
  }

  .res-tabs li:last-child:after, .res-tabs li:last-child:before {
    display: none
  }

  .res-tabs li.active {
    background-color: #000;
    color: #fff
  }

  .res-tabs li.active:after {
    border-color: transparent #000
  }

  .res-subtitle {
    border: .267vw solid #000;
    border-radius: 13.333vw;
    display: block;
    font-size: 5.333vw;
    font-weight: 400;
    margin: 0 auto .521vw;
    padding: 3.2vw 0;
    width: 53.333vw
  }

  .res-item {
    border-top: .533vw solid #888;
    padding: 10.667vw 0
  }

  .res-item:last-child {
    border-bottom: .533vw solid #888
  }

  .res-item>figure {
    float: left;
    height: 56vw;
    margin: 0 4vw 4vw 0;
    overflow: hidden;
    width: 40vw
  }

  .res-item>figure img {
    display: block;
    width: 100%
  }

  .res-item>div h2 {
    color: #414aea;
    font-weight: 400;
    margin: 0 0 4vw
  }

  .res-item>div table, .res-item>div th {
    font-weight: 400
  }

  .res-item>div th {
    padding-right: 8vw
  }

  .res-item>div td {
    word-wrap: break-word;
    word-break: break-all
  }

  .res-item>div td, .res-item>div th {
    line-height: 1.4;
    text-align: left;
    vertical-align: top
  }

  .res-times {
    clear: both;
    margin: -1.333vw 0 0 -2.667vw;
    width: 100%
  }

  .res-times li {
    padding: 1.333vw 0 0 2.667vw;
    width: 50%
  }

  .res-times-btn {
    overflow: hidden;
    position: relative
  }

  .res-times-btn button {
    border: .267vw solid #4647e5;
    color: #4647e5;
    display: block;
    font-size: 4.8vw;
    font-weight: 400;
    height: 14.667vw;
    line-height: 1;
    position: relative;
    text-align: center;
    transition: .2s ease;
    width: 100%
  }

  .res-times-btn button  {
    background-color: #4647e5;
    color: #fff
  }

  .res-times-btn button label {
    display: block;
    font-size: 60%;
    margin-bottom: 1.067vw;
    position: relative;
    z-index: 1
  }

  .res-times-btn button span {
    font-weight: 400;
    position: relative;
    z-index: 1
  }

  .res-times-btn button em {
    background-color: #4647e5;
    height: 150%;
    left: 0;
    position: absolute;
    top: 120%;
    transform: rotate(-5deg);
    transition: .3s cubic-bezier(.445, .05, .55, .95);
    width: 110%
  }

  .res-table {
    border-bottom: .533vw solid #000;
    border-top: .533vw solid #000;
    table-layout: fixed;
    width: 100%
  }

  .res-table tr {
    border-bottom: .267vw solid #000
  }

  .res-table td, .res-table th {
    padding: 3.2vw 2.667vw;
    text-align: left
  }

  .res-table td.ac1, .res-table th.ac1 {
    padding-bottom: 1.333vw;
    padding-left: 1.067vw;
    padding-top: 1.333vw
  }

  .res-table th {
    font-weight: 400;
    padding-left: 5.333vw;
    width: 17.333vw
  }

  .res-table-input {
    border: .267vw solid #000;
    display: block;
    height: 10.667vw;
    line-height: 10.667vw;
    padding: 0 4vw;
    width: 100%
  }

  .res-table-select {
    border: .267vw solid #000;
    display: inline-block;
    position: relative;
    vertical-align: middle
  }

  .res-table-select select {
    display: block;
    height: 10.667vw;
    line-height: 10.667vw;
    padding: 0 4vw;
    width: 32vw
  }

  .res-table-select:before {
    background-color: #fff;
    content: "▼";
    height: 10.667vw;
    line-height: 10.667vw;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 10.667vw
  }

  .res-table-policy {
    border: .267vw solid #a3a3a3;
    font-size: 3.2vw;
    height: 40vw;
    overflow: scroll;
    padding: 4vw
  }

  .res-table-policy::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 0
  }

  .res-table-checkbox {
    cursor: pointer;
    display: inline-block;
    font-size: 90%;
    margin-top: 2.667vw;
    padding-left: 6.667vw;
    position: relative;
    vertical-align: middle
  }

  .res-table-checkbox:before {
    border: .267vw solid #000;
    content: "";
    height: 4vw;
    left: 0;
    position: absolute;
    top: .267vw;
    width: 4vw
  }

  .res-table-checkbox em {
    border: 1.333vw solid #000;
    border-right: 0;
    border-top: 0;
    display: none;
    height: 1.333vw;
    left: .267vw;
    position: absolute;
    top: .533vw;
    transform: rotate(-45deg);
    width: 3.2vw
  }

  .res-table-checkbox input {
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0
  }

  .res-table-checkbox input:checked+em {
    display: block
  }

  .res-table-btns {
    text-align: center
  }

  .res-table-btns a, .res-table-btns button {
    border: .533vw solid #000;
    display: inline-block;
    font-weight: 400;
    height: 13.333vw;
    line-height: 13.333vw;
    min-width: 38.667vw;
    padding: 0 5.333vw;
    vertical-align: middle
  }

  .res-table-btns .ac1 {
    background-color: #000;
    color: #fff
  }
}
