body {
	background: #1b1b1b;
	overflow-x: hidden;
}

h2 {
	font-size: 25px;
	padding-top: 70px;
	justify-content: center;
	text-align: center;
}

.selCate {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.selCate:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 25%;
	height: 2px;
	background: white;
	transition: .5s;
}

.selCate.changed:before {
	left: 25%;
	transition: .5s;
}

.selCate.changed1:before {
	left: 50%;
	transition: .5s;
}

.selCate.changed2:before {
	left: 75%;
	transition: .5s;
}


.selCate > li {
	line-height: 50px;
    flex-basis: 100%;
    text-align: center;
}

#section {
	width: 400vw;
	transition: .5s;
}

.table-wrap {
	width: 100vW;
    float: left;
    min-height: 75px;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}

.boardInfo {
	position: relative;
    padding: 0 10px;
}

.boardInfo a {
	width: 100%;
	height: 100%;
	position: absolute;
}

.title {
	font-size: 18px;
    line-height: 26px;
    font-weight: normal;
}

.def {
	font-size: 11px;
    line-height: 22px;
    color: rgba(255,255,255, .5);
    overflow: hidden;
    width: 70%;
    height: 22px;
}

.id{
	font-size: 14px;
	line-height: 16px;
}

.date {
	font-size: 11px;
    color: rgba(255,255,255, .5);
    margin-left: 10px;
}

.img-box {
	z-index: -1;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.com-img {
	background-image: url(../../images/icon/chat_FILL0_wght400_GRAD0_opsz48.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert();
    width: 35px;
    height: 85%;
}

.img-box span {
	display: block;
    text-align: center;	
}

th, td {
    font-size: 12px;
    padding: 2px 2px;
}

td {
    font-size: 12px;
    padding: 5px 2px;
	border-bottom: 1px solid #c6c9cc;
}

th {
	padding: 5px 2px;
	background: #42444e;
	color: #fff;
	text-align: left;
	border-top: 1px solid #c6c9cc;
}

.side-btn {
	position: fixed;
	right: 10px;
	bottom: 60px;
}

.sc-btn , .wt-btn {
	width: 35px;
    height: 35px;
    padding: 5px;
    background: rgba(255,255,255,.3);
    border-radius: 10px;
    margin-bottom: 10px;
}

.sc-img , .wt-img{
	background-image: url(../../images/icon/manage_search_FILL0_wght400_GRAD0_opsz48.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert();
    width: 35px;
    height: 35px;
}

.wt-img {
	background-image: url(../../images/icon/edit_note_FILL0_wght400_GRAD0_opsz48.png);
}

.sc-img > a , .wt-img > a {
	display: block;
    width: 100%;
    height: 100%;
}

