@charset "UTF-8";
/* common 영역 */
html, body {
    background: #1b1b1b;
    color: #e6e6e6;
}

/* 상단탭 영역 */
main {
    min-height: calc(100vh - 200px);
    padding: 80px 20px 0;
}

main h1 {
	margin-top: -10px;
	text-align: center;
    font-size: 20px;
    font-weight: 400;
}