@charset "EUC-KR";
main {
	position: relative;
	z-index: 999;
}

main > h1 {
	position: absolute;
	font-size: 50px;
	padding: 20px 0 0 30px;
}

label {
	display: inline-block;
}

#wrap {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding-top: 10vh;
}

#themeFormWrap {
	padding: 50px 20px;
	box-sizing: border-box;
	border-radius: 30px 30px 0 0;
}
