@charset "EUC-KR";
main {
	position: relative;
	z-index: 999;
	overflow: scroll;
}

main{
	-ms-overflow-style:none; /* IE and Edge */
    scrollbar-width:none; /* Firefox */
}

main::-webkit-scrollbar {
	display:none; /* Chrome , Safari , Opera */
}

main > h1 {
	position: absolute;
	font-size: 50px;
	padding: 40px 0 0 40px;
}

input {
	height: 30px;
}

label {
	line-height: 30px;
	display: inline-block;
	width: 300px;
	margin-bottom: 20px;
}

#wrap {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding-top: 10vh;
}

#themeFormWrap {
	padding: 20px 35px;
    box-sizing: border-box;
    border-radius: 50px;
    background: #d5e2f5;
    box-shadow: 0 7px 20px rgb(0 0 0 / 25%);
    margin-bottom: 40px;
}

#themeFormWrap legend {
	font-size: 30px;
    padding: 10px;
    margin-bottom: 25px;
}

img {
	width: 100px;
}