@charset "UTF-8";
@font-face {
  font-family: "twayFly";
  src: url("../../font/tway_fly.ttf") format("truetype");
  font-weight: normal;
}

html,body { height: 100%; box-sizing: border-box; }
body { font-family: "twayFly"; color:#fff; }
ul,ol { list-style: none; }
a { color: #fff; }
h1,h2,h3,h4,h5,h6 { line-height: 1; }