@charset "UTF-8";

/* -------------로고-----------------------------------*/
@keyframes turn {
  from{
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
.cube {
  width: 20px;
  height: 20px;
  transform-style: preserve-3d;
  animation: turn 5s ease-in-out infinite;
  margin: 10px;
  animation-delay: 2s;
}
.face {
  width: 25px;
  height: 25px;
  background: #000;
  border: 2px solid #fff;
  position: absolute;
  opacity: 0.75;
  transform: translateZ(12.5px);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.front {
  transform: translateZ(12.5px);
}
.back {
 transform: translateZ(-12.5px) rotateY(180deg);
}
.left {
  transform: translateX(-12.5px) rotateY(-90deg);
}
.right {
  transform: translateX(12.5px) rotateY(90deg);
}
.top {
  transform: translateY(-12.5px) rotateX(90deg);
}
.bottom {
  transform: translateY(12.5px) rotateX(-90deg);
}
/* ---------------------------------------------------*/

/* header top-nav */
header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 15px 20px;
  background: linear-gradient(180deg, rgba(27,27,27,1) 0%, rgba(27,27,27,0.5) 0%, rgba(27,27,27,0) 100%);
  z-index: 100;
}

#top-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-nav .right-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

#top-nav .right-img a {
  display: block;
  width: 25px;
  height: 25px;
}

#top-nav .right-img .search-img, #top-nav .right-img .login-img, #top-nav .right-img .undo-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter:invert();
  width: 25px;
  height: 25px;
}

#top-nav .right-img .search-img {
  background-image: url("../../images/icon/search.png");
}

#top-nav .right-img .login-img {
  background-image: url("../../images/icon/login_logout.png");
  margin-left: 10px;
}

#top-nav .right-img .undo-img {
  background-image: url("../../images/icon/undo.png");
}

#top-nav .top-title {
  position: absolute;
  margin-left: 55px;
  margin-top: 10px;
}

#top-nav .top-title a{
  color: black;
}

/* 로그아웃 팝업 */
.logout-pop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0 auto;
  backdrop-filter: blur(3px);
  z-index: 999;
}

.popUp-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.popUp-item {
	width: 300px;
    height: 200px;
    line-height: 25px;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: calc(100vw - 100px);
    background: white;
    border-radius: 25px;
    color: #666;
    font-size: 20px;
    text-align: center;
}

.popUp-item p span {
	color: #333;
	font-size: 22px;
    font-weight: 700;
}

.s-btn {
	width: 120px;
    height: 40px;
    margin-top: 30px;
    background: #414aea;
	border: 0;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    box-shadow: 0px 2px 10px 0px #999;
}

.s-btn.cancel {
	background: #737373;
}
