@charset "UTF-8";

/* -------------로고-----------------------------------*/
@keyframes turn {
  from{
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
.cube {
  width: 20px;
  height: 20px;
  transform-style: preserve-3d;
  animation: turn 5s ease-in-out infinite;
  margin: 10px;
  animation-delay: 2s;
}
.face {
  width: 25px;
  height: 25px;
  background: #000;
  border: 2px solid #fff;
  position: absolute;
  opacity: 0.75;
  transform: translateZ(12.5px);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.front {
  transform: translateZ(12.5px);
}
.back {
 transform: translateZ(-12.5px) rotateY(180deg);
}
.left {
  transform: translateX(-12.5px) rotateY(-90deg);
}
.right {
  transform: translateX(12.5px) rotateY(90deg);
}
.top {
  transform: translateY(-12.5px) rotateX(90deg);
}
.bottom {
  transform: translateY(12.5px) rotateX(-90deg);
}
/* ---------------------------------------------------*/

/* header top-nav */
header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 15px 20px;
  z-index: 100;
}

#top-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-nav .right-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

#top-nav .right-img a {
  display: block;
  width: 25px;
  height: 25px;
}

#top-nav .right-img .search-img, #top-nav .right-img .login-img, #top-nav .right-img .undo-img  {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter:invert();
  width: 25px;
  height: 25px;
}

#top-nav .right-img .search-img {
  background-image: url("../../images/icon/search_FILL0_wght400_GRAD0_opsz48.png");
}

#top-nav .right-img .login-img {
  background-image: url("../../images/icon/login_FILL0_wght400_GRAD0_opsz48.png");
  margin-left: 10px;
}

#top-nav .right-img .undo-img {
  background-image: url("../../images/icon/undo_FILL0_wght400_GRAD0_opsz48.png");
}
